{
  "presets": [
    [
      "@babel/env",
      {
        "modules": false,
        "targets": {
          "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
        }
      }
    ],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-syntax-jsx",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    [
      "import",
      {
        "libraryName": "at",
        "libraryDirectory": "src/components"
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["@babel/env"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        "@babel/plugin-syntax-jsx",
        "@babel/plugin-proposal-class-properties"
      ]
    }
  }
}
