:root {
  --primary: #6190e8;
  --primary-bg: #f1eff3;
  --low-contrast-bg: #dee3e5;
  --high-contrast-bg: #323557;
  --light-fg: #545a5e;
  --error: #c63162;
  --disabled: #bcbbbc;
  --interactive-minus1: #5983cf;
  --interactive-0: var(--primary);
  --interactive-plus1: #7aa3e9;

  --header-height: 50;
}
