:root {
  --primary: #6190e8;
  --primary-bg: #f1eff3;
  --low-contrast-bg: #dee3e5;
  --high-contrast-bg: #323557;
  --light-fg: #545a5e;
  --error: #c63162;
  --disabled: #bcbbbc;
  --interactive-minus1: #1a5378;
  --interactive-minus2: #236595;
  --interactive-0: #3194cf;
  --interactive-plus1: #6db1e0;
  --interactive-plus2: #8fc6eb;

  --header-height: 50;
}
